.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
    /* 用户部分 */
    .user {
        float: left;
        .link {
            margin-right: 5px;
        }
    }
    /* 导航链接部分 */
    .nav-list {
        float: right;
        .nav-item {
            display: inline-block;
            margin-left: 5px;
        }
    }
}